<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rinatum Chat</title>
</head>
<body>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div style="border: 10px solid greenyellow; border-radius: 10px; width: 600px; margin-bottom: 20px; padding: 10px; background-color: azure;">
        {% for message in chat %}
           {% for author, text in message.items() %}
               <p><span style="font-weight: bold; color: orange;">{{author}} :</span> {{text}}</p>
           {% endfor %}
        {% endfor %}
    </div>
    <form method="post" >
        <input type="text" placeholder="Your Nick" name="author" style="font-size: 20px"/>
        <input type="text" placeholder="text...." name="text" style="font-size: 20px"/>
        <input type = "submit" value = "Send" style="height: 30px;
    width: 100px;
    font-size: 400rem;"/>
    </form>
</div>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
</body>
</html>